@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
/*color palette variables*/
/*color palette variables*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
.presentacio {
  height: 100vh;
  background: url(../img/fondo_byn.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: blanchedalmond;
  margin-bottom: 12.3367198839vh;
}
.presentacio h1 {
  position: relative;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1.5625vw 0;
}
.presentacio h1::before, .presentacio h1::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}
.presentacio h1::before {
  left: 0;
  border-bottom: 0.46875vw solid #DEF2F1;
}
.presentacio h1::after {
  right: 0;
  border-top: 0.46875vw solid #DEF2F1;
}

/*color palette variables*/
.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  width: 100vw;
  padding: 0 10vw;
  color: #17252A;
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header .logo {
  max-width: 9.765625vw;
  vertical-align: middle;
  display: table-cell;
}
.main-header a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header .nav-links .nav-link:nth-of-type(2) {
  transition-delay: 0.1s;
}
.main-header .nav-links .nav-link:nth-of-type(3) {
  transition-delay: 0.2s;
}
.main-header .nav-links .nav-link:nth-of-type(4) {
  transition-delay: 0.3s;
}
.main-header .nav-links .nav-link:nth-of-type(5) {
  transition-delay: 0.4s;
}
.main-header .nav-links .nav-link:nth-of-type(6) {
  transition-delay: 0.5s;
}
.main-header .nav-links .nav-link:nth-of-type(7) {
  transition-delay: 0.6s;
}
.main-header .nav-links .nav-link a {
  margin: 0.1rem;
  padding: 1rem 0.7rem;
}
.main-header .nav-links .nav-link a:hover {
  font-weight: 600;
  background: #2B7A78;
  color: #DEF2F1;
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #17252A;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #17252A;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
  top: -100px;
}
.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  transform: translateY(-7px);
}
.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  transform: translateY(7px);
}
.main-header.scrolled {
  height: 7.5vh;
  background: #17252A;
  color: #DEF2F1;
}
.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #DEF2F1;
}

/*color palette variables*/
@media only screen and (max-width: 767px) {
  .main-header .logo {
    max-width: 125px;
    vertical-align: middle;
    display: table-cell;
  }
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #DEF2F1;
    background: #17252A;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    font-size: 1.6rem;
    display: block;
    padding: 1.8rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-in-out, transform 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*queremos que salgan individualmente con el efecto anterior
    y enumeramos cada nav-link para dar un delay en la transición*/
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
    transition-delay: 1.1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(6) {
    transition-delay: 1.2s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(7) {
    transition-delay: 1.3s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #DEF2F1;
    animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #DEF2F1;
    animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #DEF2F1;
    animation: openBtm 0.8s forwards;
  }

  .presentacio h1 {
    font-size: 6vw;
  }
}
/*animación pulse para el menú responsive (hamburguesa)*/
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
/*animación para transformar el menú hamburguesa en una X (abrir)*/
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
/*animación para transformar el menú hamburguesa en una X (cerrar)*/
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes clsedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 601px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 909px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1201px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1801px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 908px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 909px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 909px) and (max-width: 1200px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1201px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1801px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
/*color palette variables*/
/*qué fa items*/
.clearfix {
  display: inline-block;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.que-fa-container {
  overflow: hidden;
  position: relative;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  margin-bottom: 15px;
}
.que-fa-container .thumbnail-que-fa {
  width: 140px;
  height: 140px;
  margin: 25px 20px 20px 40px;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  background-color: #3AAFA9;
}
.que-fa-container .thumbnail-que-fa .img-que-fa {
  height: 100%;
  float: left;
  position: absolute;
  bottom: 5px;
  left: -20px;
  border-radius: 50%;
  background-color: #DEF2F1;
  object-fit: cover;
  /*CSS Advanced*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* CSS Advanced sombra y colores */
}
.que-fa-container .contingut-que-fa {
  width: 100%;
  height: auto;
}
.que-fa-container .contingut-que-fa .info-que-fa {
  width: 100%;
  height: 100%;
  padding: 0px 15px 15px 15px;
}
.que-fa-container .contingut-que-fa .info-que-fa .titol-que-fa {
  margin: 0px 0px 10px 0px;
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #17252A;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  /*CSS Advanced*/
}
.que-fa-container .contingut-que-fa .info-que-fa .descripcio-que-fa {
  margin: 0px 0px 2vh 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.4em;
}

/*color palette variables*/
/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #17252A;
}
.footer .container-footer {
  position: relative;
  text-align: center;
  justify-content: space-around !important;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 70px 0px;
}
.footer .container-footer .thumbnail-footer {
  width: 190px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.footer .container-footer .thumbnail-footer .img-footer {
  width: 150px;
  height: auto;
  position: absolute;
  object-fit: cover;
  /*CSS Advanced*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* CSS Advanced sombra y colores */
}
.footer .container-footer .wrapper {
  text-align: center;
  display: inline-flex;
}
.footer .container-footer ul {
  padding-inline-start: 0px;
}
.footer .container-footer ul .wrapper ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}
.footer .container-footer ul li {
  text-decoration: none;
  list-style: none;
}
.footer .container-footer ul li .wrapper li {
  float: left;
  padding: 2px 5px;
  border: 1px solid black;
}
.footer .container-footer ul li a {
  text-decoration: none;
}
.footer .container-footer ul li a .faqs {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #DEF2F1;
}
.footer .container-footer ul li a .fa-facebook-square, .footer .container-footer ul li a .fa-twitter,
.footer .container-footer ul li a .fa-instagram, .footer .container-footer ul li a .fa-linkedin {
  color: #DEF2F1;
}
.footer .container-footer ul li:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 900px) {
  .container-footer {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-bottom: 15px;
  }
  .container-footer::after {
    content: "";
    display: table;
    clear: both;
  }
  .container-footer .thumbnail-footer {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: red;
  }
  .container-footer .img-footer {
    width: 100%;
    height: auto;
    object-fit: cover;
    /*CSS Advanced*/
  }
  .container-footer .img-footer-wrapper {
    width: 50%;
  }
}
*, *::before, *::after {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.contenedor-seccion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  justify-content: space-around;
}
.contenedor-seccion .titol-seccion {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase !important;
  letter-spacing: 0.12rem;
  font-weight: 800;
  font-size: 1.2 rem;
  margin: 2rem 0.2rem 4rem 0.2rem;
  text-align: center;
  color: #17252A;
}
.contenedor-seccion .container-que-es {
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  justify-content: space-around !important;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 15px;
}
.contenedor-seccion .container-que-es .thumbnail-que-es {
  width: 250px;
  height: 250px;
  margin: 25px 20px 20px 45px;
  align-self: center;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  background-color: #3AAFA9;
}
.contenedor-seccion .container-que-es .thumbnail-que-es .img-que-es {
  height: 100%;
  float: left;
  position: absolute;
  bottom: 5px;
  left: -25px;
  border-radius: 50%;
  background-color: #DEF2F1;
  object-fit: cover;
  /*CSS Advanced*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* CSS Advanced sombra y colores */
}

@media only screen and (max-width: 340px) {
  .contenedor-seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .contenedor-seccion .titol-seccion {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase !important;
    letter-spacing: 0.12rem;
    font-weight: 800;
    font-size: 1.2 rem;
    margin: 2rem 0.2rem 4rem 0.2rem;
    text-align: center;
    color: #17252A;
  }
  .contenedor-seccion .container-que-es {
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    justify-content: space-around !important;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .contenedor-seccion .container-que-es .thumbnail-que-es {
    width: 180px;
    height: 180px;
    margin: 25px 20px 20px 45px;
    align-self: center;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    background-color: #3AAFA9;
  }
  .contenedor-seccion .container-que-es .thumbnail-que-es .img-que-es {
    height: 100%;
    float: left;
    position: absolute;
    bottom: 5px;
    left: -25px;
    border-radius: 50%;
    background-color: #DEF2F1;
    object-fit: cover;
    /*CSS Advanced*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    /* CSS Advanced sombra y colores */
  }
}
.contenedor-parrafos {
  width: 100%;
  margin: 2rem auto;
}
.contenedor-parrafos p {
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4em;
}

/*# sourceMappingURL=main.css.map */
