/* Error: expected "{".
 *     ,
 * 125 |     .col-sm-4-of-4
 *     |                   ^
 *     '
 *   sass/_media.scss 125:19  @import
 *   sass/main.scss 14:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 125 \2502      .col-sm-4-of-4\a     \2502                    ^\a     \2575 \a   sass/_media.scss 125:19  @import\a   sass/main.scss 14:9      root stylesheet';
}
