@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
/*color palette variables*/
/*color palette variables*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
.presentacio {
  height: 100vh;
  background: url(../img/fondo_byn.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: blanchedalmond;
}
.presentacio h1 {
  position: relative;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1.5625vw 0;
}
.presentacio h1::before, .presentacio h1::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}
.presentacio h1::before {
  left: 0;
  border-bottom: 0.46875vw solid #DEF2F1;
}
.presentacio h1::after {
  right: 0;
  border-top: 0.46875vw solid #DEF2F1;
}

/*color palette variables*/
.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.15625vh;
  width: 100vw;
  padding: 0 10vw;
  color: #17252A;
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header .logo {
  max-width: 9.765625vw;
  vertical-align: middle;
  display: table-cell;
}
.main-header a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header .nav-links .nav-link:nth-of-type(2) {
  transition-delay: 0.1s;
}
.main-header .nav-links .nav-link:nth-of-type(3) {
  transition-delay: 0.2s;
}
.main-header .nav-links .nav-link:nth-of-type(4) {
  transition-delay: 0.3s;
}
.main-header .nav-links .nav-link:nth-of-type(5) {
  transition-delay: 0.4s;
}
.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1.45rem 0.7rem;
}
.main-header .nav-links .nav-link a:hover {
  font-weight: 600;
  background: #2B7A78;
  color: #DEF2F1;
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #17252A;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #17252A;
  transition: background 0.8s ease;
}
.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
  top: -100px;
}
.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  transform: translateY(-7px);
}
.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  transform: translateY(7px);
}
.main-header.scrolled {
  height: 9.4339622642vh;
  background: #17252A;
  color: #DEF2F1;
}
.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #DEF2F1;
}

/*color palette variables*/
@media only screen and (max-width: 767px) {
  .main-header .logo {
    max-width: 125px;
    vertical-align: middle;
    display: table-cell;
  }
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #DEF2F1;
    background: #17252A;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    font-size: 1.6rem;
    display: block;
    padding: 1.8rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*queremos que aparezcan individualmente con el efecto anterior
    y enumeramos cada nav-link para dar un delay en la transición*/
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
    transition-delay: 1.1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #DEF2F1;
    animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #DEF2F1;
    animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #DEF2F1;
    animation: openBtm 0.8s forwards;
  }

  .presentacio h1 {
    font-size: 6vw;
  }
}
/*animación pulse para el menú responsive (hamburguesa)*/
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
/*animación para transformar el menú hamburguesa en una X (abrir)*/
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
/*animación para transformar el menú hamburguesa en una X (cerrar)*/
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes clsedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
/*gridsystem*/
.container {
  width: calc(100% - 4rem);
  max-width: 60rem;
  margin: 0 auto;
  background: lightblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

div[class^=col-] {
  background: pink;
  border: 1px solid red;
  padding: 1rem 0;
  text-align: center;
}

.col-1 {
  flex: 8.3333333333%;
}

.col-2 {
  flex: 16.6666666667%;
}

.col-3 {
  flex: 25%;
}

.col-4 {
  flex: 33.3333333333%;
}

.col-5 {
  flex: 41.6666666667%;
}

.col-6 {
  flex: 50%;
}

.col-7 {
  flex: 58.3333333333%;
}

.col-8 {
  flex: 66.6666666667%;
}

.col-9 {
  flex: 75%;
}

.col-10 {
  flex: 83.3333333333%;
}

.col-11 {
  flex: 91.6666666667%;
}

/*qué fa items*/
*, *::before, *::after {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.contenedor-parrafos {
  width: 60%;
  margin: 2rem auto;
}
.contenedor-parrafos p {
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

/*# sourceMappingURL=main.css.map */
