/*Variables del Grid*/
$grid-columns: 12 !default; // Establece el nro de columnas dentro del grid

$xs-max: 600px !default; // Establece el breakpoint para el max width xs
$sm-max: 908px !default; // Establece el breakpoint para el max width sm
$md-max: 1200px !default; // Establece el breakpoint para el max width md
$lg-max: 1800px !default; // Establece el breakpoint para el max width lg 

$gutter: 1rem !default; // establece el tamaño del gutter (espaciado entre columnas)

$content-well-max-width: 90% !default; // Set the max-width of the content well

$sm-start: ($xs-max + 1); // Genera el breakpoint para el min width de sm  
$md-start: ($sm-max + 1); // Genera el breakpoint para el min width de md
$lg-start: ($md-max + 1); // Genera el breakpoint para el min width de lg
$xl-start: ($lg-max + 1); // Genera el breakpoint para el min width de xl

/*Breakpoints*/
/*Crea declaraciones de rango de distintos break points para usar con  media queries*/
$breakpoint-xs-only: "only screen and (max-width: #{$xs-max})"; // 0 -> xs-max range
$breakpoint-sm-up: "only screen and (min-width: #{$sm-start})"; // sm-comienzo -> rango de alcance
$breakpoint-sm-only: "only screen and (min-width: #{$sm-start}) and (max-width: #{$sm-max})"; // sm-comienzo -> rango máx sm
$breakpoint-md-up: "only screen and (min-width: #{$md-start})"; // md-comienzo -> rango de alcance
$breakpoint-md-only: "only screen and (min-width: #{$md-start}) and (max-width: #{$md-max})"; // md-comienzo -> rango máx md
$breakpoint-lg-up: "only screen and (min-width: #{$lg-start})"; // lg-comienzo -> rango de alcance
$breakpoint-lg-only: "only screen and (min-width: #{$lg-start}) and (max-width: #{$lg-max})"; // lg-comienzo -> rango máx lg
$breakpoint-xl-up: "only screen and (min-width: #{$xl-start})"; // xl-comienzo -> rango de alcance

$breakpoints-all: ($breakpoint-xs-only, $breakpoint-sm-up, $breakpoint-sm-only, $breakpoint-md-up, $breakpoint-md-only, $breakpoint-lg-up, $breakpoint-lg-only, $breakpoint-xl-up);
$breakpoint-ups: ($breakpoint-sm-up, $breakpoint-md-up, $breakpoint-lg-up, $breakpoint-xl-up);
$breakpoint-all-prefixes: ("xs", "xs-only", "sm", "sm-only", "md", "md-only", "lg", "lg-only", "xl");
$breakpoint-up-prefixes: ("xs", "sm", "md", "lg", "xl");
