/*devices max width*/

//escritorio
$desktop-grid-width:1280px;

//tablet (vertical)
$tablet-grid-width:767px;

//mobile (vertical)
$mobile-grid-width:480px;

/*gutters(espacios entre bloques del grid)*/

//vertical
$gutter-vertical:80px;
$gutter-vertical-mbl:40px;

//horizontal
$gutter-horizontal:60px;
$gutter-horizontal-mbl:15px;