//damos formato a los divs container y row
.container{
  width: calc(100% - 10em);
  max-width: 60em;
  margin: 0 auto;
  background: lightblue;
  .row{
    display: flex;
    flex-wrap: wrap;
  }
}

