@import 'colores';

@import 'grid2';
@import 'grid2variables';

@media only screen and (max-width:767px){
    .main-header{
        .logo{
            max-width: 125px;
            vertical-align: middle;
            display: table-cell;
        }
        .menu-icon{
            display:block;
            //para cerrar el menu responsive
            &__line{
                animation: closedMid 0.8s backwards;
                animation-direction: reverse;

                &::before{
                    animation: closedTop 0.8s backwards;
                    animation-direction: reverse;
                }
                &::after{
                    animation: closedBtm 0.8s backwards;
                    animation-direction: reverse;
                }
            }
        }
        //corresponde a la <ul>
        .nav-links{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding:10rem 0;
            width:100vw;
            height: 100vh;
            font-size:2rem;
            color:$lightwhite;
            background:$dark;
            //animación para el despliegue el menú
            transition: 
                opacity .8s .5s, 
                clip-path 1s .5s;
            clip-path:circle(200px at top right);
            .nav-link {
                opacity: 0;
                transform: translateX(100%);
                width: 100%;
                text-align: center;
        
                a {
                  font-size:1.6rem ;
                  display: block;
                  padding: 1.8rem 0;
                }
              }   
        }

        //cuando se selecciona se expande
        .menu-btn:checked ~ .nav-links {
            opacity: 1;
            clip-path: circle(100% at center);
      
            .nav-link {
              opacity: 1;
              transform: translateX(0);
              transition:
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);//efecto elástico
                /*queremos que aparezcan individualmente con el efecto anterior
                y enumeramos cada nav-link para dar un delay en la transición*/
              
                //Wiki
                &:nth-of-type(1) {
                    transition-delay: .7s;
                }
                //Blog
                &:nth-of-type(2) {
                    transition-delay: .8s;
                }
                //FAQs
                &:nth-of-type(3) {
                    transition-delay: .9s;
                }
                //Xat
                &:nth-of-type(4) {
                    transition-delay: 1s;
                }
                //Missatgeria
                &:nth-of-type(5) {
                  transition-delay: 1.1s;
                }
            }
        }
          //cambiar el color del menu-icon cuando esté activo
          .menu-btn:checked ~ .menu-icon{
              border-radius: 50%;
              animation: pulse 1s;//configuramos en el archivo animations.scss
              .menu-icon__line{
                  background:$lightwhite;
                  animation:openMid 0.8s forwards;
                  &::before{
                      background: $lightwhite;
                      animation:openTop 0.8s forwards;
                  }
                  &::after{
                      background: $lightwhite;
                      animation:openBtm 0.8s forwards;
                  }
              }
          }
    }

    .presentacio h1 {
        font-size: 6vw;
      }
}


@media only screen and (max-width:$mobile-grid-width){
    .contenedor{
        width: 95%;
    }

    .row{
        width: 100%;
        &:not(:last-child){//.row:not()
            margin-bottom: $gutter-vertical;
        }

        [class^="col-"]{
            //no añadiremos el margen a la derecha para el :last-child
            &:not(:last-child){
                margin-right:$gutter-horizontal-mbl;
            }
        }


        .col-sm-1-of-4{
            width:calc((100% - 3 * #{$gutter-horizontal-mbl}) / 4);
        }

        .col-sm-2-of-4{
            width: calc((2* (100% - 2 * #{$gutter-horizontal-mbl}) / 4) - (2*#{$gutter-horizontal-mbl}));
        }
    }

}
