@import'colores';

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height:auto;
    position: relative;
    margin-top: 50px;
	margin-bottom: 0px;
    background-color:$dark;
    .container-footer{
        position: relative;
        text-align: center;
        justify-content:space-around !important;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 50px 0px;
        //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75); /* CSS Advanced sombra y colores */
        //background-color:$dark;
        .thumbnail-footer {
            vertical-align: middle;
              width: 190px;
              height: auto;
              margin: auto;
              position: relative;
              display: flex;
              float: left;
                .img-footer{
                 width:100%;
                 height: auto;
                 float: left;
                 position: absolute;
                 //background-color:$lightwhite;
                 object-fit: cover; /*CSS Advanced*/
                 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20); /* CSS Advanced sombra y colores */
                }
        }

        .wrapper {
            text-align: center;
            display: inline-flex;
        }

        ul {
            padding-inline-start: 0px;

            .wrapper ul {
                display: inline-flex;
                margin: 0;
                padding: 0;
                /* For IE, the outcast */
                zoom:1;
                *display: inline;
            }

            li{
                text-decoration: none;
                list-style: none;

                .wrapper li {
                    float: left;
                    padding: 2px 5px;
                    border: 1px solid black;
                }

                a{
                    text-decoration: none;
                    .fa-facebook-square,.fa-twitter,
                    .fa-instagram,.fa-linkedin {
                        color:$lightwhite;
                    }
                }
                &:not(:last-child){
                    margin-right:15px;
                }
            }
        }

    }         

}
  
  
  

  
  
  
  
