//webfont montserrat y webfont nunito
@import 'fonts';

//importamos scss de las variables
@import 'colores';

//importamos scss de la presentació
@import 'presentacio';

//importamos scss del header
@import 'header';

//importamos scss media (responsive)
@import 'media';

//importamos animaciones para menú responsive
@import 'animations';

//importamos los elementos del gridsystem
@import 'grid-variables';
@import 'grid';
@import 'grid-mixins';
@import 'visibility';
@import 'visibility-mixins';

//importamos que fa items
@import 'que_fa_items';


*, *::before, *::after{
   margin: 0px;
   box-sizing: border-box;
}

body{
   font-family: "Nunito", sans-serif;
}

.contenedor-seccion{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 95%;
   margin: auto;
   justify-content: space-around;

   .titol-seccion{
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase !important;
      font-weight: 700;
      font-size:1.2 rem;
      
   }
   
}

.contenedor-parrafos{
   width: 60%;
   margin: 2rem auto;
   p{
      margin:1rem 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
   }
}



