//webfont montserrat y webfont nunito
@import 'fonts';

//importamos scss de las variables de color
@import 'colores';

//importamos scss de la presentació
@import 'presentacio';

//importamos scss del header
@import 'header';

//importamos scss media (responsive)
@import 'media';

//importamos animaciones para menú responsive
@import 'animations';

//importamos los elementos del gridsystem
@import 'grid-variables';
@import 'grid-mixins';
@import 'grid';
@import 'visibility';
@import 'visibility-mixins';

//importamos que fa items
@import 'que_fa_items';

//importamos footer
@import 'footer';




*, *::before, *::after{
   margin: 0px;
   box-sizing: border-box;
}

body{
   font-family: "Nunito", sans-serif;
}

.contenedor-seccion{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 95%;
   margin: 0 auto;
   justify-content: space-around;

   .titol-seccion{
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase !important;
      letter-spacing: .12rem;
      font-weight: 800;
      font-size:1.2 rem;
      margin: 2rem .2rem 4rem .2rem;
      text-align: center;
      color:$dark;
      
   }
   .container-que-es{
      //width: 18%;
      height: auto;
      overflow: hidden;
      position: relative;
      text-align: center;
      justify-content:space-around !important;;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 15px;
      //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75); /* CSS Advanced sombra y colores */
      //background-color:$dark;

         .thumbnail-que-es {
            width: 250px;
            height: 250px;
            margin: 25px 20px 20px 45px;
            align-self: center;
            position: relative;
            display: inline-block;
            border-radius:100% ;
            background-color:$lightcian;
            .img-que-es{
               height:100%;
               float: left;
               position: absolute;
               bottom: 5px;
               left: -25px;
               border-radius: 50%;
               background-color:$lightwhite;
               object-fit: cover; /*CSS Advanced*/
               box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20); /* CSS Advanced sombra y colores */
            }
         }
   }         
}

@media only screen and (max-width:340px){
   .contenedor-seccion{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 95%;
      margin: 0 auto;
      justify-content: space-around;
   
      .titol-seccion{
         font-family: 'Nunito', sans-serif;
         text-transform: uppercase !important;
         letter-spacing: .12rem;
         font-weight: 800;
         font-size:1.2 rem;
         margin: 2rem .2rem 4rem .2rem;
         text-align: center;
         color:$dark;
         
      }
      .container-que-es{
         //width: 18%;
         height: auto;
         overflow: hidden;
         position: relative;
         text-align: center;
         justify-content:space-around !important;;
         flex-wrap: wrap;
         flex-direction: row;
         margin-bottom: 15px;
         //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75); /* CSS Advanced sombra y colores */
         //background-color:$dark;
   
         .thumbnail-que-es {
            width: 180px;
            height: 180px;
            margin: 25px 20px 20px 45px;
            align-self: center;
            position: relative;
            display: inline-block;
            border-radius:100% ;
            background-color:$lightcian;
            .img-que-es{
            height:100%;
            float: left;
            position: absolute;
            bottom: 5px;
            left: -25px;
            border-radius: 50%;
            background-color:$lightwhite;
            object-fit: cover; /*CSS Advanced*/
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20); /* CSS Advanced sombra y colores */
            }
         }
      }         
   }
}


.contenedor-parrafos{
   width: 100%;
   margin: 2rem auto;
   p{
      margin:1rem 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      font-weight: 500;
      line-height: 1.4em;
   }
}



