//webfont montserrat y webfont nunito
@import 'fonts';

//importamos scss de las variables
@import 'colores';

//importamos scss de la presentació
@import 'presentacio';

//importamos scss del header
@import 'header';

//importamos scss media (responsive)
@import 'media';

//importamos animaciones para menú responsive
@import 'animations';

//importamos gridsystem
@import 'gridsystem';

//importamos que fa items
@import 'que_fa_items';


*, *::before, *::after{
   margin: 0px;
   box-sizing: border-box;
}

body{
   font-family: "Nunito", sans-serif;
}

.contenedor-parrafos{
   width: 60%;
   margin: 2rem auto;
   p{
      margin:1rem 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
   }
}



